@font-face {
  font-family: 'Noto Sans JP';
  src: url('../fonts/NotoSansJP.ttf') format('truetype');
}

:root {
  --font-base: "XXXXXXXXXX", sans-serif, Meiryo;
  --font-heading: "XXXXXXXXXX", sans-serif;
}